<div class="container text-center mt-5">
  <h2 class="font-weight-bold">本当に退会しますか？</h2>
  <div class="row mt-4">
    <div class="col-md-12 mx-auto align-items-center">
      退会すると、会員登録情報や<br>
      これまでの<strong>購入履歴が閲覧できなくなります。</strong><br>
      退会する場合は、「退会する」をクリックしてください。
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-2 mx-auto align-items-center">
      <%= link_to "退会しない", customers_my_page_edit_path, class: 'btn btn-sm btn-primary' %>
    </div>
    <div class="col-md-2 mx-auto align-items-center">
      <%= link_to "退会する", customers_withdraw_path, method: :patch, class: 'btn btn-sm btn-danger', data: {confirm: '本当に退会してよろしいですか？'} %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>