<div class="container text-center mt-5">
  <h1 class="font-weight-bold">皆様から愛されるお店を目指して</h1>
  <div class="row">
    <div class="col-xs-18 mx-auto align-items-center">
      <br>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。<br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-18 mx-auto align-items-center">
      <%= image_tag "nagano_cake.jpg" %>
    </div>
  </div>
</div>